.popup-content {
    border-radius: 1rem;
    padding-bottom: 2rem;
  
  }

  /* Extra small devices (telefones) */
@media (max-width: 639px) {
  .popup-content{
    width: 100%;
    margin-left: 15px;
    margin-right: 15px;
  }
}

/* Small devices (tablets) */
@media (min-width: 640px) and (max-width: 767px) {
  .popup-content{
    width: 100%;
    margin-left: 15px;
    margin-right: 15px;
  }
}

/* Medium devices (laptops, tablets landscape) */
@media (min-width: 768px) and (max-width: 1023px) {
  .popup-content{
    width: 100%;
    margin-left: 15px;
    margin-right: 15px;
  }
}

/* Large devices (desktops) */
@media (min-width: 1024px) and (max-width: 1279px) {
  .popup-content{
    width: 50%;
  }
}

/* Extra large devices (grandes desktops) */
@media (min-width: 1280px) {
  .popup-content{
    width: 40%;
  }
}